<div class="row g-5 mb-5 publications-wrapper">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-4">Publications</h3>
    <ul class="publication-list inter-text">
      {% if page.title == "Home" %}
        {% for item in site.data.publications.featured %}
          <li><a href="{{ item.url }}">{{ item.name }}</a></li>
        {% endfor %}
      {% else %}
        {% for item in site.data.publications.index %}
          <li><a href="{{ item.url }}">{{ item.name }}</a></li>
        {% endfor %}
      {% endif %}
    </ul>
  </div>
</div>