---
---

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Barriecito&family=Finger+Paint&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Knewave&display=swap');

/* 
#f5cede
#bec2f2
#f7f0b0
*/


/* Body text: regular Caveat */
body {
  font-family: "Annie Use Your Telescope", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
  color: #1d1d20;
  padding: 2rem;
  position: relative;
  z-index: 0;
  background-color: #eff2f3;
}

.inter-text {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
}

/* Scrolling background */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/21245912.png');
  background-size: 300px auto; /* keeps original image proportions */
  background-repeat: repeat;
  background-position: center;
  opacity: 0.3;
  z-index: -1;
}

/* Headers: Caveat Brush */
h1, h2, h3, h4 {
 font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* Links */
a {
  color: #111178;
  text-decoration: none;
}

.publication-list {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-top: 0;
  margin-bottom: 2rem;
  line-height: 1.5;
}
.publications-wrapper {
  background-image: url('{{ site.baseurl }}/assets/img/paper_bg_papers.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem;
  border-radius: 8px;
}